@charset "utf-8";

@import "common";


.frm {
    @include widthHeight(100%, 100%);
    overflow: hidden;
}

/* header */
.header {
    background-color: #323232;
    > .row_contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em; 
    }
}

.logo_no_initial, 
.icon_help {
    height: 2em;
    cursor: pointer;
}

/* section */
.section {
    position: relative;
    height: calc(100vh - 4em);
    height: calc((var(--vh, 1vh) * 100) - 4em);
    > div {
        position: absolute;
        @include positionCenter(50%, 50%, -50%, -50%);
        max-width: 400px;
        width: 75%;
    }
}

/* section__aside */
.aside {
    overflow: hidden;
    > .info_slide_box {
        width: 35%;
        max-width: 230px;
        padding: 0.8em 0;
        margin-left: 100%;
        border: 1px solid $colorLightGray;
        text-align: center;
        font-weight: bold;
        border-radius: 3px;
        box-shadow: 0px 4px 4px -4px #d6d6d6;
        transition: all 0.5s ease-in-out;
    }
    .show_info_slide_box {
        margin-left: 65%;
    }
}

/* section__article */
.section_tit {
    text-align: center;
    > div {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #e5e6e6;
        border-radius: 10px;
        box-shadow: 2px 2px 4px 2px #f3f4f5;
        .logo {
            height: 2.5em;
            margin: 1em;
        }
    }
    > h1 {
        font-size: 1.4em;
        margin: 1.6em 0 1.3em;
    }
}

.section_login_inp {
    > .inp_id_box,
      .inp_pw_box {
        overflow: hidden;
        border: 1px solid #d6d6d6;
        border-radius: 3px;
        height: 3.5em;
        .login_inp {
            float: left;
            @include widthHeight(85%, 100%);
            font-size: 1.2em;
            padding: 0.5em 1em;
            color: $colorDeepGray;
        }
        .login_inp::placeholder {
            color: $colorGray;
        }
        span {
            float: right;
            @include displayFlex(flex, column);
            justify-content: center;
            @include widthHeight(15%, 100%);
            > .fa-arrow-alt-circle-right {
                align-self: center;
                font-size: 1.8em; 
                color: $colorGray;
                cursor: pointer;
            }
            > .fa-arrow-alt-circle-right.arrow_active {
                color: #494949;
            }
        }
    }
    & .inp_id_box {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    & .inp_pw_box {
        visibility: hidden;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    & .inp_pw_box.inp_active {
        visibility: visible;
    }
    .active_inp_box {
        border: 2px solid $colorLightBlue;
    }
}

.section_etc {
    text-align: center;
    > div {
        a {
            cursor: pointer;
        }
        & .join {
            color: $colorDeepGray;
            font-weight: bold;
        }
        & .lost_id_pw {
            color: $colorLightBlue;
        }
    }
    > div:first-child {
        padding: 2em 0 0.7em;
        margin: 0 0 0.7em;
        box-shadow: 0 3px 3px -4px $colorLightGray;
    }
}


// media
@media all and (min-width: 375px) {
    .frm {
        font-size: 1.2em;
    }
}

@media all and (min-width: 480px) {

}

@media all and (min-width: 768px) {
    .frm {
        font-size: 1.3em;
    }
    
    .aside .show_info_slide_box {
        margin-left: calc(100% - 230px);
    }
}

@media all and (min-width: 1200px) {

}