@charset "utf-8";

@import "common";


.frm { 
    @include widthHeight(100%, 100%);
    overflow: hidden;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #323232;
    align-items: center;
    padding: 1em; 
}

.header_a {
    display: inline-block;
    .xi-arrow-left {
        font-size: 2em;
        color: #fff;
        cursor: pointer;
    }
}

/* section */
.section {
    height: calc(100vh - 8em);
    height: calc((var(--vh, 1vh) * 100) - 8em);
    overflow-y: scroll;
}

.contact_info {
    @include displayFlex(flex, row);    
    margin: 1.5em 0 0;
    > .info_left {
        width: 30%;
        position: relative;
        @include displayFlex(flex, row);
        justify-content: center;
        align-items: center;
        color: $colorGray;
        .add_image {
            position: absolute;
            @include positionCenter(50%, 50%, -50%, -50%);
            display: inline-block;
            color: $colorLightBlue;
        }
        .empty_image {
            overflow: hidden;
            @include widthHeight(7em, 7em);
            border-radius: 50%;
            cursor: pointer;
        }
    }
    > .info_right {
        width: 70%;
        @include displayFlex(flex, column);
        justify-content: center;
        border-bottom: 1px solid rgb(238, 238, 238);
        input, textarea {
            border: 1px solid $colorLightGray;
            font-size: 1em;
        }
        & input {
            margin: 0.5em 0;
            text-indent: 0.5em;
            line-height: 2.5em;
            color: $colorDeepGray;
        }
        & input::placeholder {
            color: $colorLightGray;
        }
        & input:last-child {
            margin: 0.5em 0 1.5em;
        }
        & textarea {
            padding: 0.5em;
        }
    }
}

.contact_info:last-child {
    margin-bottom: 5em;
}

/* footer */
.footer {
    border-top: 1px solid $colorLightGray;
    border-bottom: 1px solid transparent;
    text-align: right;
    > .container {
        line-height: 4em;
        .btn_join {
            color: $colorLightBlue;
            font-size: 1.6em;
            vertical-align: middle;
            font-weight: bold;
        }
    }
}


// media
@media all and (min-width: 375px) {
    .frm {
        font-size: 1.1em;
    }
}

@media all and (min-width: 480px) {

}

@media all and (min-width: 768px) {
    .frm {
        font-size: 1.15em;
    }

    .container {
        width: 80%;
    }
}

@media all and (min-width: 1024px) {
    .frm {
        font-size: 1.8em;
    }
}